@model HireManagement.Models.Worker

@{
    ViewData["Title"] = "Details";
}
<center>
<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row bg-white rounded">
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.EmployedOnPosition)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.EmployedOnPosition)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.JoinedDate)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.JoinedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</center>
