@model HireManagement.Models.Contract

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reward)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reward)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
