@model HireManagement.Models.Contract

@{
    ViewData["Title"] = "Details";
}
<center>
<h1>Details</h1>

    <h4>Contract</h4>
    <hr />
    <dl class="row bg-white round">
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.ContractName)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.ContractName)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.EmployerEmail)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.EmployerEmail)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.Reward)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Reward)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.Preference)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Preference)
        </dd>
        <dt class="col-6">
            @Html.DisplayNameFor(model => model.Information)
        </dt>
        <dd class="col-6">
            @Html.DisplayFor(model => model.Information)
        </dd>
    </dl>
<br />
<div>
    <a class="bg-white text-black rounded" asp-action="Index">Back to List</a>
</div>
</center>
