@model IEnumerable<HireManagement.Models.Contract>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="ContractsScaffold" asp-action="Index" method="get">
    <p>
        Search: <input type="text" name="searchText">
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-white ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reward)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
